# environments
.env
venv/
.vscode/

# Python
__pycache__/
.mypy_cache/
.coverage
dist/
.hypothesis/

# other credentials
client_secret.json
user_token.json
secret_tokens.py
config.toml

# vim
Session.vim
